* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: rgba(255, 240, 31, 0.75);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background: url('assets/Calculator.png') no-repeat center center/cover;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.header .header__item {
  text-align: center;
}

.header__logo > a {
  display: block;
  width: 100%;
  height: 100%;
}

main {
  /* align-self: flex-start; */
}

.menu__item {
  list-style: none;
  padding: 5px 10px;
}

.menu__item a {
  text-decoration: none;
  color: #000;
}

.calculator {
  width: 250px;
  padding: 10px;
  margin: auto;
  border: #000 1px solid;
  border-radius: 5px;
  background: #000;
}

.output {
  width: 100%;
  height: 100px;
}

.output__digits {
  height: 70%;
  width: 100%;
  padding: 5px 15px 20px 15px;
  text-align: end;
  font-family: 'Roboto', sans-serif;
  font-size: 3.0rem;
  color: #fff;
  overflow: hidden;
}

.output__flow {
  height: 30%;
  width: 100%;
  padding: 2px 7px;
  text-align: end;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  color: #fff;
  overflow:auto
}

.operations {
  display: grid;
  grid-template-areas: 'clr plusmn perc division'
                       'nums nums nums mult'
                       'nums nums nums sub' 
                       'nums nums nums sum' 
                       'nums nums nums result' ;
  gap: .5rem;
  align-items: center;
  justify-items: center;
}

.btn {
  display: grid;
  grid-template-areas: 'seven eight nine'
                       'four five six'
                       'one two three'
                       'zero zero comma';
  gap: .5rem;
  align-items: center;
  justify-items: center;
  grid-area: nums;
}


.btn > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(65, 65, 65);
}

.btn > .btn__0 {
  justify-content: start;
  padding-left: 18px;
} 

button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

button:focus {outline: none;}

.binary {
  color: #fff;
  font-size: 1.8rem;
  background-color: rgb(233, 155, 10);
}

.binary:hover {
  cursor: pointer;
  opacity: 0.7;
}

.unary {
  font-size: 1.3rem;
  background-color: rgb(168, 168, 168);
}
.unary:hover {
  cursor: pointer;
  opacity: 0.7;
}

.service {
  font-size: 1.2rem;
  background-color: rgb(168, 168, 168);
}


.service:hover {
  cursor: pointer;
  opacity: 0.7;
}

.operations__clr {grid-area: clr;}
.operations__ce {grid-area: ce;}
.operations__plusmn {grid-area: plusmn;}
.operations__division {grid-area: division;}
.operations__multiply {grid-area: mult;}
.operations__sub {grid-area: sub;}
.operations__sum {grid-area: sum;}
.operations__result {grid-area: result;}

.btn__9 {grid-area: nine;}
.btn__8 {grid-area: eight;}
.btn__7 {grid-area: seven;}
.btn__6 {grid-area: six;}
.btn__5 {grid-area: five;}
.btn__4 {grid-area: four;}
.btn__3 {grid-area: three;}
.btn__2 {grid-area: two;}
.btn__1 {grid-area: one;}
.btn__0 {
  grid-area: zero;
  width: 100%;
  border-radius: 25%/50%;
}
.btn__comma {grid-area: comma;}

footer p {
  text-align: center;
  padding: 15px 0;
  background: #f4f4f4;
  width: 100%;
  overflow-x: hidden;
}

footer p a {
  text-decoration: none;
  color: #000;
}

/* Hamburger menu */

.menu-wrap .menu {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  transition: 0.5s;
  transform: scale(0);
}

.menu-wrap {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before, 
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  transform: scale(1);
  top: 60px;
  right: 30px;
  transition: ease-out 0.3s;
}